
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<table class="table table-hover text-xl-center">
  <thead>
    <tr>
            <th>Documents Name That Contain '@ViewBag.text' Word </th>
    </tr>
  </thead>
  <tbody>
@foreach(var i in ViewBag.result){
    <tr>
      <td>@i</td>
    </tr>
   
}
  </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>