@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome Page</title>
	<link rel="stylesheet" href="~/css/welcome.css">
</head>
<body>
	<div class="container">
		<h1>Welcome to Information Retrieval 2023!</h1>
		<p>Explore our content and discover something new.</p>
		<a asp-action="indexing" asp-controller="indexing" class="btn">Get Started</a>
		<p>Developed by Saber ElSayed </p>
		<p> Thanks For Eng.Nesma Mahmoud  </p>
	</div>
</body>
</html>