@*
@{
    Layout = null;

}
<table>
    <tr> @foreach (var kvp in ViewBag.index)
            {
                foreach(var y in kvp){
                <td>@kvp.Key</td>
                foreach (var docId in kvp.Value)
                {
                    <td>@docId</td>               
                }
            }
    </tr>

</table>
*@