
<link rel="stylesheet" href="~/css/indexing.css" asp-append-version="true" />
<form method="post">
    
    <div style="display:flex; justify-content:space-around">
        <h5>Choose Index</h5>
        <h5>Prepocessing</h5>
    </div>
    <div style="display:flex; justify-content:space-around">
        <select name="selected" style="height:40px ;border-radius:10px; width:200px; border:1px solid black">
            <option value="lucene">Lucene</option>
            <option value="term">Term Doc Incidence Matric</option>
            <option value="invert">Inverted Index</option>
            <option value="position">Positinal Index</option>
            <option value="biword">Bi-Word Index</option>
        </select>
        <div style="display:flex; align-items:center; align-content:center">
            <ul style="list-style-type:none">
                <li>
                    <input type="checkbox" checked name="tok" /><label> Tokenization&nbsp;&nbsp;&nbsp;</label>
                </li>
                <li>
                    <input type="checkbox" checked name="norm"/><label> Normalization</label>
                </li>
                <li>
                    <input type="checkbox" checked name="stem" /><label> Stemming&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </li>
                <li>
                    <input type="checkbox" checked name="lemm"/><label> Lemetization&nbsp;&nbsp;</label>
                </li>
                <li>
                    <input type="checkbox" checked name="stops"/><label> Stop Words&nbsp;&nbsp;&nbsp;</label>
                </li>
            </ul>

        </div>

    </div>
    <hr style="background-color: #001; height:3px" />

    <div style="width:100%; display:flex;justify-content:space-around">
        <input type="submit" style="color:black;  width:100%; margin:20px; font-size:18px; text-decoration:none; padding:10px 70px;" class="btn btn-info" value="Index And Go To Search" />
    </div>

</form>