
@{
    Layout = null;
    Dictionary<string, List<(int DocumentId, int WordIndex)>> positionalIndex = ViewBag.indexes;
}


<h1 class="text-center" style="text-align:center">Documents Which Contain '@ViewBag.word' Word</h1>
<hr />

@foreach (var documentId in ViewBag.docs)
{
    <h3 class="text-center" style="text-align:center">Doc @documentId</h3>
    <hr />
}

<table>
@foreach (string word in positionalIndex.Keys)
{
        if (word.Length < 2) continue;
        <tr>
        <td>@word</td>
            @{
                List<(int DocumentId, int WordIndex)> occurrences = positionalIndex[word];
            }
            @foreach (var occurrence in occurrences)
            {
                <td> (@occurrence.DocumentId:@occurrence.WordIndex)</td>
                
            }
        </tr>
}
</table>

