@{
    Layout = null;
    int c = 0;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@foreach (var r in ViewBag.result)
{
    c++;
}

<h1 class="text-center">Search Using Term Document Indcidence Matrix</h1>
@if (c > 0)
{
    <h1 class="text-center">Documents Which Contain '@ViewBag.word' Word  </h1>
}
<hr />

@foreach (var r in ViewBag.result)
{
    <h1 class="text-center"> Document @r</h1>
    c++;
}
@if (c == 0)
{
    <h1 class="text-center"> No Documents Contain '@ViewBag.word' Word </h1>

}


<a asp-action="index" asp-controller="termmatrix" class="btn btn-info"> View Matrix</a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>